body {
  font-family: helvetica;
  margin: 0;
}

.logo {
  height: 48px;
  width: 10%;
  background: linear-gradient(to bottom right, #d52eaa, #f42);
  display: inline-block;
  float: left;
  position: relative;
}

.logo p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.top-nav {
  height: 32px;
  width: 89.5%;
  background: #000;
  float: left;
  display: none;
}

.nav {
  height: 48px;
  width: 89.5%;
  background: #fff;
  float: left;
}

.hero {
  height: 394px;
  background: linear-gradient(#eeeeee, #fff)
}

.news-articles {
  background: #fff;
}

.sections {
  background: #fff;
}

.footer {
  height: 506px;
  background: #131313;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo { height: 80px; }

  .top-nav {
    height: 32px;
    width: 89.5%;
    display: inline-block;
  }

  .nav {
    height: 48px;
    width: 89.5%;
  }
}

@media only screen and (min-width: 1024px) {
  .logo { display: none; }

  .top-nav {
    width: 100%;
    display: inline-block;
  }

  .nav { width: 100%; }
}
