body {
  font-family: helvetica;
  margin: 0;
}

.logo {
  height: 48px;
  width: 10%;
  background: linear-gradient(to bottom right, #d52eaa, #f42);
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
}

.logo p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.top-nav {
  height: 32px;
  width: 89.5%;
  background: #000;
  float: left;
  display: none;
}

.nav {
  height: 48px;
  width: 89.5%;
  background: #fff;
  float: left;
  position: fixed;
  top: 0;
  right: .5%;
}

.hero {
  margin-top: 48px;
  height: 394px;
  background: linear-gradient(#eeeeee, #fff)
}

.item {
  box-sizing: border-box;
  float: left;
  margin: 8px;
  background: #000;
  width: 96.9%;
  height: 31.3%;
  margin-bottom: 0;
}

.news-articles {
  background: #fff;
  margin: 50px 16px 10px;
  clear: both;
}

.news-articles h2 {
  color: #f42
}

.news-article {
  width: 100%;
  height: 72px;
  margin-top: 10px;
  clear: both;
}

.news-article * {
  float: left;
}

.news-article-img {
  height: 72px;
  width: 72px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 72px;
}

.news-article p {
  margin: 0 16px;
  width: 70%;
}

.news-article p:first-of-type {
  font-size: 14px;
  margin-bottom: 4px;
}

.news-article p:last-of-type {
  color: #555;
  font-size: 12px;
}

.sections {
  background: #fff;
}

.footer {
  height: 506px;
  background: #131313;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo { height: 80px; }

  .logo p { font-size: 20px; }

  .top-nav {
    height: 32px;
    width: 89.5%;
    display: block;
    position: fixed;
    top: 0;
    left: 10%;
  }

  .nav {
    height: 48px;
    width: 89.5%;
    top: 32px;
  }

  .hero { margin-top: 80px; }

  .item {
    box-sizing: border-box;
    float: left;
    margin: 8px;
  }

  #item1 {
    width: 64%;
    height: 98%;
  }

  #item2 {
    margin-bottom: 0;
  }

  #item2, #item3 {
    width: 32%;
    height: 48%;
    margin-left: 0;
  }

  .news-article {
    width: 31.5%;
    height: 180px;
    margin-top: 10px;
    margin-right: 8px;
    display: inline-block;
  }

  .news-article-img {
    height: 114px;
    width: 100%;
    line-height: 114px;
  }

  .news-article p {
    margin: 0;
    width: 90%;
  }

  .news-article p:first-of-type {
    margin-top: 4px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo { display: none; }

  .logo p { font-size: 20px; }

  .top-nav {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .nav {
    width: 100%;
    top: 32px;
  }

  .hero { margin-top: 80px; }

  .item {
    box-sizing: border-box;
    float: left;
    margin: 8px;
  }

  #item1 {
    width: 66%;
    height: 98%;
    background: linear-gradient(to bottom right, #f6400a, #000);
  }

  #item2 {
    margin-bottom: 0;
  }

  #item2, #item3 {
    width: 31%;
    height: 48%;
    margin-left: 0;
  }

  .news-articles {
    width: 90%;
    margin: 50px auto;
  }

  .news-article {
    width: 23.5%;
    height: 180px;
    margin-top: 10px;
    margin-right: 8px;
    display: inline-block;
  }

  .news-article-img {
    height: 114px;
    width: 100%;
    line-height: 114px;
  }

  .news-article p {
    margin: 0;
    width: 90%;
  }

  .news-article p:first-of-type {
    margin-top: 10px;
    font-size: 16px;
  }

  .news-article p:last-of-type {
    font-size: 13px;
  }
}
